.tagBlack {
    padding: 0.3em 0.5em;
    margin: 2em 0;
    font-weight: bold;
    color: #ffffff;
    background: #575757;
    /*背景色*/
    border-radius: 5px;
    /*角の丸み*/
}

.tagBlue {
    padding: 0.3em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #ffffff;
    background: #6ac3f7;
    /*背景色*/
    border-radius: 5px;
    /*角の丸み*/
}

.tagYellow {
    padding: 0.3em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #ffffff;
    background: #f7d53f;
    /*背景色*/
    border-radius: 5px;
    /*角の丸み*/
}