.tagBlack {
    padding: 0.3em 0.5em;
    margin: 2em 0;
    font-weight: bold;
    color: #ffffff;
    background: #575757;
    /*背景色*/
    border-radius: 5px;
    /*角の丸み*/
}

.tagBlue {
    padding: 0.3em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #ffffff;
    background: #6ac3f7;
    /*背景色*/
    border-radius: 5px;
    /*角の丸み*/
}

.tagYellow {
    padding: 0.3em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #ffffff;
    background: #f7d53f;
    /*背景色*/
    border-radius: 5px;
    /*角の丸み*/
}

.openHere {
    display: none;
}

.expandButton {
    display: inline-block;
    width: 20px;
    border-style: solid;
    border-color: gray;
    border-width: 0.5px;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

.pageListSubTitle {
    font-weight: bold;
    padding-left: 5px;
    padding-top: 3px;
    border-bottom: double 5px #2a8eec;
}

h4 {
    margin-top: 15px;
}


/*
.expandButton:before {
    content: "+";
}*/

#page_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #4171f3;
    opacity: 0.6;
}

#page_top a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

#page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f106';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}


/*
.gsc-search-box {
    margin: 0px;
}*/

.gsc-input {
    font-size: 14px !important;
}

.gstl_50 {
    max-width: 90% !important;
}

.gscb_a {
    line-height: 20px !important;
}

.gsst_a {
    padding: 0px !important;
    /*display: block !important;*/
}


/*topnavのトップページへのリンクの位置*/

.navbar-brand {
    position: absolute;
    top: 4px;
}


/*
@media screen and (max-width: 991px) {
    #tg-sb-sidebar {
        display: none;
    }
}*/


/*google custom search*/

.form-inline {
    margin-top: 7px;
    margin-left: 5px;
}

.search-button {
    background-color: #4d90fe;
    padding: 5px 30px;
    border-color: #3079ed;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}