<h2>更新履歴</h2>
{% for i in (1..5) %}
{% assign firstFlag = true %}
{% for page in site.pages %}
    {% unless page.search=="exclude" %}
        {% capture pday %}{{ page.update | date: '%d' }}{% endcapture %}
        {% capture pmonth %}{{ page.update | date: '%m' }}{% endcapture %} 
        {% capture pyear %}{{ page.update | date: '%Y' }}{% endcapture %}
        {% if firstFlag and pday<leastday and pmonth<=leastmonth and pyear<=leastyear %}
            {% assign leastpagedate = page.update %}
            {% assign firstFlag = false %}
        {% else %}
            {% capture day %}{{ leastpagedate | date: '%d' }}{% endcapture %}
            {% capture month %}{{ leastpagedate | date: '%m' }}{% endcapture %} 
            {% capture year %}{{ leastpagedate | date: '%Y' }}{% endcapture %}
            {% if i==1 %}
                {% if day<pday and month<=pmonth and year<=pyear %}
                    {% assign leastpagedate = page.update %}
                {% endif %}
            {% else %}
                {% if day<pday and month<=pmonth and year<=pyear and pday<leastday and pmonth<=leastmonth and pyear<=leastyear %}
                    {% assign leastpagedate = page.update %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endunless %}
{% endfor %}
{% capture leastday %}{{ leastpagedate | date: '%d' }}{% endcapture %}
{% capture leastmonth %}{{ leastpagedate | date: '%m' }}{% endcapture %} 
{% capture leastyear %}{{ leastpagedate | date: '%Y' }}{% endcapture %} 
<h3 id="{{leastyear}}{{leastmonth}}{{leastday}}">{{leastyear}}/{{leastmonth}}/{{leastday}}</h3>
<ul class="page">
{% for page in site.pages %}
    {% unless page.search=="exclude" %} 
    {% capture pday %}{{ page.update | date: '%d' }}{% endcapture %}
    {% capture pmonth %}{{ page.update | date: '%m' }}{% endcapture %} 
    {% capture pyear %}{{ page.update | date: '%Y' }}{% endcapture %}
    {% if leastday==pday and leastmonth==pmonth and leastyear==pyear %}
    <li>
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </li>
    {% endif %}
    {% endunless %}
{% endfor %}
</ul>
{% endfor %}